body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    second-family: "Raleway", sans-serif;


    /* Top line */

    .top-line-logo {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 156px;
    }

    .top-line-logo-web {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
    }

    .top-line-logo-studio {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
    }